A:active {  text-decoration: underline; color: #3D998A; font-weight: bold}
A:hover {  text-decoration: none; color: #3D998A; font-weight: bold}
A:link {  text-decoration: none ; color: #000000}
A:visited {  text-decoration: none ; color: #000000}
